---
import Section from "./sections/Section.astro";

import { certificates } from "@cv";
---

<Section title="Cursos y Certificaciones">
  <ul>
    {
      certificates.map(({ name, date, issuer, url }) => {
        // const startYear = new Date(startDate).getFullYear();
        // const endYear =
        //   endDate != null ? new Date(endDate).getFullYear() : "Actual";
        // const years = `${startYear} - ${endYear}`;

        return (
          <li>
            <article>
              <header>
                <div>
                  <h3>{name}</h3>
                </div>

                <time>{date}</time>
                <p>{issuer}</p>
              </header>

              {/* <footer>
                <p>{area}</p>
              </footer> */}
            </article>
          </li>
        );
      })
    }
  </ul>
</Section>
